swagger: "2.0"
info:
  description: "这是Micah在线视频课程系统的 API 文档。"
  version: "1.0.0"
  title: "Micah在线视频课程系统"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "jingshancccc@163.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "course.com"
basePath: "/api/v2"
tags:
  - name: "课程"
    description: "课程相关接口"
  - name: "用户"
    description: "用户相关接口"
  - name: "权限"
    description: "权限相关接口"
schemes:
  - "https"
  - "http"
paths:
  /user/list:
    get:
      tags:
        - "用户"
      summary: "获取用户列表"
      description: "分页获取用户列表"
      operationId: "list"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "分页DTO"
          required: true
          schema:
            $ref: "#/definitions/PageDto"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /user/save:
    post:
      tags:
        - "用户"
      summary: "新增/更新一个用户"
      description: "当传入ID不为空时更新用户信息，否则新增一个用户"
      operationId: "/save"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "用户实体"
          required: true
          schema:
            $ref: "#/definitions/User"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
          # headers:
          #   X-Rate-Limit:
          #     type: "integer"
          #     format: "int32"
          #     description: "calls per hour allowed by the user"
          #   X-Expires-After:
          #     type: "string"
          #     format: "date-time"
          #     description: "date in UTC when token expires"
  /user/login:
    post:
      tags:
        - "用户"
      summary: "登录"
      description: "用户登录"
      operationId: "login"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "用户实体"
          required: true
          schema:
            $ref: "#/definitions/User"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /user/logout:
    get:
      tags:
        - "用户"
      summary: "登出"
      description: ""
      operationId: "logout"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - in: "query"
          name: "Str"
          type: "string"
          description: "token"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /user/save-password:
    post:
      tags:
        - "用户"
      summary: "更新密码"
      description: ""
      operationId: "savePassword"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "用户名和密码"
          schema:
            $ref: "#/definitions/User"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /user/delete:
    delete:
      tags:
        - "用户"
      summary: "删除一个用户"
      description: ""
      operationId: "delete"
      parameters:
        - in: "query"
          name: "Str"
          type: "string"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /captcha/image-code:
    get:
      tags:
        - "用户"
      summary: "获取图形验证码"
      description: ""
      operationId: "image-code"
      parameters:
        - in: "body"
          name: "captcha"
          schema:
            $ref: "#/definitions/Captcha"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"

  /resource/load-tree:
    get:
      tags:
        - "权限"
      summary: "加载资源树"
      description: "以树的形式返回系统资源"
      operationId: "load-tree"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /resource/save:
    post:
      tags:
        - "权限"
      summary: "保存/更新资源树"
      description: "保存/更新系统资源"
      operationId: "save"
      parameters:
        - in: "query"
          name: "Str"
          type: "string"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /resource/delete:
    delete:
      tags:
        - "权限"
      summary: "删除一个资源"
      description: ""
      parameters:
        - in: "query"
          name: "Str"
          type: "string"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /role/list:
    post:
      tags:
        - "权限"
      summary: "获取角色列表"
      description: ""
      parameters:
        - in: "body"
          name: "body"
          description: "分页DTO"
          required: true
          schema:
            $ref: "#/definitions/PageDto"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /role/save:
    post:
      tags:
        - "权限"
      summary: "保存一种角色"
      description: ""
      parameters:
        - in: "body"
          name: "body"
          description: "角色实体"
          required: true
          schema:
            type: "object"
            properties:
              id:
                type: "string"
              name:
                type: "string"
              desc:
                type: "string"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /role/delete:
    delete:
      tags:
        - "权限"
      summary: "删除一个角色"
      description: ""
      parameters:
        - in: "query"
          name: "Str"
          type: "string"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /role/list-user:
    get:
      tags:
        - "权限"
      summary: "获取一种角色的所有用户"
      description: ""
      parameters:
        - in: "query"
          name: "Str"
          type: "string"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /role/save-user:
    post:
      tags:
        - "权限"
      summary: "保存一种角色的所有用户"
      description: ""
      parameters:
        - in: "body"
          name: "body"
          schema:
            type: "object"
            properties:
              id:
                type: "string"
              userIds:
                type: "array"
                items:
                  type: "string"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /role/list-resource:
    get:
      tags:
        - "权限"
      summary: "获取一种角色的所有权限"
      description: ""
      parameters:
        - in: "query"
          name: "Str"
          type: "string"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /role/save-resource:
    post:
      tags:
        - "权限"
      summary: "保存一种角色的所有用户"
      description: ""
      parameters:
        - in: "body"
          name: "body"
          schema:
            type: "object"
            properties:
              id:
                type: "string"
              resourceIds:
                type: "array"
                items:
                  type: "string"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"

  /course/list:
    post:
      tags:
        - "课程"
      summary: "获取课程列表"
      description: ""
      parameters:
        - in: "body"
          name: "body"
          description: "分页DTO"
          required: true
          schema:
            $ref: "#/definitions/PageDto"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /course/delete:
    delete:
      tags:
        - "课程"
      summary: "删除一个课程"
      description: ""
      parameters:
        - in: "query"
          name: "Str"
          type: "string"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /course/save:
    post:
      tags:
        - "课程"
      summary: "更新/新增课程"
      description: ""
      parameters:
        - in: "body"
          name: "body"
          description: "课程DTO"
          required: true
          schema:
            $ref: "#/definitions/Course"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /course/list-category:
    get:
      tags:
        - "课程"
      summary: "获取一门课程的所属分类"
      description: ""
      parameters:
        - in: "query"
          name: "Str"
          type: "string"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /course/find-content:
    get:
      tags:
        - "课程"
      summary: "获取一门课程的内容"
      description: ""
      parameters:
        - in: "query"
          name: "Str"
          type: "string"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /course/save-content:
    post:
      tags:
        - "课程"
      summary: "保存一门课程的内容"
      description: ""
      parameters:
        - in: "body"
          name: "body"
          schema:
            type: "object"
            properties:
              id:
                type: "string"
              content:
                type: "string"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /course/sort:
    post:
      tags:
        - "课程"
      summary: "修改课程排序"
      description: ""
      parameters:
        - in: "body"
          name: "body"
          schema:
            type: "object"
            properties:
              id:
                type: "string"
              oldSort:
                type: "integer"
              newSort:
                type: "integer"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"

  /category/all:
    get:
      tags:
        - "课程"
      summary: "获取所有分类"
      description: ""
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /category/save:
    post:
      tags:
        - "课程"
      summary: "更新/新增分类"
      description: ""
      parameters:
        - in: "body"
          name: "body"
          description: "分类DTO"
          required: true
          schema:
            $ref: "#/definitions/Category"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /category/delete:
    delete:
      tags:
        - "课程"
      summary: "删除一个分类"
      description: ""
      parameters:
        - in: "query"
          name: "Str"
          type: "string"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /chapter/list:
    post:
      tags:
        - "课程"
      summary: "获取大章列表"
      description: ""
      parameters:
        - in: "body"
          name: "body"
          description: "分页DTO"
          required: true
          schema:
            $ref: "#/definitions/PageDto"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /chapter/save:
    post:
      tags:
        - "课程"
      summary: "更新/新增大章"
      description: ""
      parameters:
        - in: "body"
          name: "body"
          description: "大章DTO"
          required: true
          schema:
            $ref: "#/definitions/Chapter"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /chapter/delete:
    delete:
      tags:
        - "课程"
      summary: "删除一个大章"
      description: ""
      parameters:
        - in: "query"
          name: "Str"
          type: "string"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /section/list:
    post:
      tags:
        - "课程"
      summary: "获取小节列表"
      description: ""
      parameters:
        - in: "body"
          name: "body"
          description: "分页DTO"
          required: true
          schema:
            $ref: "#/definitions/PageDto"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /section/save:
    post:
      tags:
        - "课程"
      summary: "更新/新增小节"
      description: ""
      parameters:
        - in: "body"
          name: "body"
          description: "小节DTO"
          required: true
          schema:
            $ref: "#/definitions/Section"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /section/delete:
    delete:
      tags:
        - "课程"
      summary: "删除一个小节"
      description: ""
      parameters:
        - in: "query"
          name: "Str"
          type: "string"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /teacher/all:
    get:
      tags:
        - "课程"
      summary: "获取所有讲师"
      description: ""
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /teacher/list:
    post:
      tags:
        - "课程"
      summary: "获取讲师列表"
      description: ""
      parameters:
        - in: "body"
          name: "body"
          description: "分页DTO"
          required: true
          schema:
            $ref: "#/definitions/PageDto"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /teacher/save:
    post:
      tags:
        - "课程"
      summary: "更新/新增讲师"
      description: ""
      parameters:
        - in: "body"
          name: "body"
          description: "讲师DTO"
          required: true
          schema:
            $ref: "#/definitions/Teacher"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /teacher/delete:
    delete:
      tags:
        - "课程"
      summary: "删除一个讲师"
      description: ""
      parameters:
        - in: "query"
          name: "Str"
          type: "string"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /course-file/list:
    post:
      tags:
        - "课程"
      summary: "获取课程文件列表"
      description: ""
      parameters:
        - in: "query"
          name: "Str"
          type: "string"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /course-file/save:
    post:
      tags:
        - "课程"
      summary: "更新/新增课程文件"
      description: ""
      parameters:
        - in: "body"
          name: "body"
          description: "课程文件DTO"
          required: true
          schema:
            $ref: "#/definitions/CourseFile"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
  /course-file/delete:
    delete:
      tags:
        - "课程"
      summary: "删除一个课程文件"
      description: ""
      parameters:
        - in: "query"
          name: "Str"
          type: "string"
      responses:
        "200":
          description: "统一返回"
          schema:
            $ref: "#/definitions/ApiResponse"
# securityDefinitions:
#   petstore_auth:
#     type: "oauth2"
#     authorizationUrl: "http://petstore.swagger.io/oauth/dialog"
#     flow: "implicit"
#     scopes:
#       write:pets: "modify pets in your account"
#       read:pets: "read your pets"
#   api_key:
#     type: "apiKey"
#     name: "api_key"
#     in: "header"
definitions:
  Course:
    type: "object"
    properties:
      id:
        type: "string"
      name:
        type: "string"
      summary:
        type: "string"
      time:
        type: "integer"
        format: "int32"
      price:
        type: "number"
      image:
        type: "string"
      level:
        type: "string"
        description: "级别|枚举[CourseLevelEnum]：ONE(\"1\", \"初级\"),TWO(\"2\", \"中级\"),THREE(\"3\", \"高级\")"
        enum:
          - "ONE"
          - "TWO"
          - "THREE"
      charge:
        type: "string"
        description: "收费|枚举[CourseChargeEnum]：CHARGE(\"C\", \"收费\"),FREE(\"F\", \"免费\")"
        enum:
          - "C"
          - "F"
      status:
        type: "string"
        description: "状态|枚举[CourseStatusEnum]：PUBLISH(\"P\", \"发布\"),DRAFT(\"D\", \"草稿\")"
        enum:
          - "P"
          - "D"
      enroll:
        type: "integer"
        format: "int32"
      sort:
        type: "integer"
        format: "int32"
      categories:
        type: "array"
        items:
          $ref: "#/definitions/Category"
      chapters:
        type: "array"
        items:
          $ref: "#/definitions/Chapter"
      sections:
        type: "array"
        items:
          $ref: "#/definitions/Section"
      content:
        type: "string"
      teacherId:
        type: "string"
      teacher:
        $ref: "#/definitions/Teacher"
    xml:
      name: "Course"
  Category:
    type: "object"
    properties:
      id:
        type: "string"
      name:
        type: "string"
      parent:
        type: "string"
      sort:
        type: "integer"
        format: "int32"
    xml:
      name: "Category"
  Chapter:
    type: "object"
    properties:
      id:
        type: "string"
      name:
        type: "string"
      courseId:
        type: "string"
    xml:
      name: "Chapter"
  Section:
    type: "object"
    properties:
      id:
        type: "string"
      title:
        type: "string"
      courseId:
        type: "string"
      chapterId:
        type: "string"
      video:
        type: "string"
      time:
        type: "integer"
        format: "int32"
      charge:
        type: "string"
        description: "收费|枚举[CourseChargeEnum]：CHARGE(\"C\", \"收费\"),FREE(\"F\", \"免费\")"
        enum:
          - "C"
          - "F"
      sort:
        type: "integer"
        format: "int32"
    xml:
      name: "Section"
  Teacher:
    type: "object"
    properties:
      id:
        type: "string"
      name:
        type: "string"
      nickname:
        type: "string"
      image:
        type: "string"
      position:
        type: "string"
      motto:
        type: "string"
      intro:
        type: "string"
    xml:
      name: "Teacher"
  CourseFile:
    type: "object"
    properties:
      id:
        type: "string"
      courseId:
        type: "string"
      url:
        type: "string"
      name:
        type: "string"
      size:
        type: "integer"
        format: "int32"
  User:
    type: "object"
    properties:
      id:
        type: "string"
      name:
        type: "string"
      loginName:
        type: "string"
      password:
        type: "string"
    xml:
      name: "User"
  Captcha:
    type: "object"
    properties:
      id:
        type: "string"
      type:
        type: "string"
      verifyValue:
        type: "string"
      base64String:
        type: "string"
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      success:
        type: "boolean"
      message:
        type: "string"
      content:
        type: "string"
  PageDto:
    type: "object"
    properties:
      pageSize:
        type: "integer"
        format: "int32"
      pageNum:
        type: "integer"
        format: "int32"
      asc:
        type: "boolean"
      sortBy:
        type: "string"
      rows:
        type: "array"
        items:
          type: "object"
externalDocs:
  description: "获取更多"
  url: "https://course-realmicah.doc.coding.io"